.app {
  box-sizing: border-box;
}

.header-button {
  width: 100%;
  display: flex;
}

.header-button button {
  width: 20%;
}

.activeBtn {
  background-color: cornflowerblue;
  color: #fff;
}

.inactiveBtn {
  background-color: none;
  color: #000;
}
